<h1>Adopt a cuddly family member today at one of these partners!</h1>

<% @shelters.each do |shelter| %>
  <h3><%= shelter.name %></h3>
  <p><%= shelter.address %></p>
  <p><%= shelter.city %></p>
  <p><%= shelter.state %></p>
  <p><%= shelter.zip %></p>
<% end %>

<h3><%= link_to 'New Shelter', '/shelters/new' %></h3>
