<h1>All Available Pets for Adoption</h1>

<% @list_of_pets.each do |pet| %>
  <img src="<%= pet.image %>" alt-"it could be yours" width = "300" height = "300"</img>
  <p>Name:<%= pet.name %></p>
  <p>Approximate Age:<%= pet.approximate_age %></p>
  <p>Sex:<%= pet.sex %></p>
<% end %>

<h3><%= link_to 'Create Pet', "/shelters/#{@shelter.id}/pets/new" %></h3>
