<h3><%= link_to 'Return to Shelters Index', "/shelters" %>&nbsp;&nbsp;
<%= link_to 'Return to Pets Index', "/pets" %></h3>

<h1><%= @shelter.name %></h1>
<p>Address: <%= @shelter.address %></p>
<p>City: <%= @shelter.city %></p>
<p>State: <%= @shelter.state %></p>
<p>Zip: <%= @shelter.zip %></p>


<h3><%= link_to 'Update Shelter', "/shelters/#{@shelter.id}/edit" %></h3>
<h3><%= link_to 'Delete Shelter', "/shelters/#{@shelter.id}", method: :delete %></h3>
<h3><%= link_to 'View All Pets in Shelter', "/shelters/#{@shelter.id}/pets" %></h3>
