<h1> Edit the information about a pet </h1>

<%= form_tag "/pets/#{@pet.id}", method: :patch do %>
  <%= label_tag "Add Image Url" %>
  <%= text_field_tag :image %><br/>
  <%= label_tag :name %>
  <%= text_field_tag :name %><br/>
  <%= label_tag :description %>
  <%= text_field_tag :description %><br/>
  <%= label_tag :age %>
  <%= text_field_tag :approximate_age %><br/>
  <%= label_tag :sex %>
  <%= text_field_tag :sex %><br/>

  <p><%= submit_tag 'Update Pet' %></p>
<% end %>
