<div class="navigationbar">
<%= link_to 'Return to Pets Index', "/pets" %>&nbsp;&nbsp;<%= link_to 'Return to Shelters Index', "/shelters" %>
</div>

<h1> Update A Pet </h1>

<%= form_tag "/pets/#{@pet.id}", method: :patch do %>
  <p>Edit the information about the pet below</p>
  <%= label_tag "Add Image Url" %>
  <%= text_field_tag :image, @pet.image %><br/>
  <%= label_tag :name %>
  <%= text_field_tag :name, @pet.name %><br/>
  <%= label_tag :description %>
  <%= text_field_tag :description, @pet.description %><br/>
  <%= label_tag :age %>
  <%= text_field_tag :approximate_age, @pet.approximate_age %><br/>
  <%= label_tag :sex %>
  <%= text_field_tag :sex, @pet.sex %><br/>

  <p><%= submit_tag 'Update Pet' %></p>
<% end %>
