<div class="navigationbar">
  <%= link_to 'Return to Shelters Index', "/shelters" %>
</div>

<h1>All Pets in All Shelters</h1>

<% @pets.each do |pet| %>
    <section id = 'pet-<%= pet.id %>'>
      <img class="image" src="<%= pet.image %>" alt-"it could be yours" width = "300" height = "240"</img>
      <p>Name:&nbsp;&nbsp;<%= link_to "#{pet.name}", "/pets/#{pet.id}"%></p>
      <p>Current Location:&nbsp;&nbsp;<%= link_to pet.shelter.name, "/shelters/#{pet.shelter_id}" %>
      <p>Approximate Age:&nbsp;&nbsp;<%= pet.approximate_age %></p>
      <p>Sex:&nbsp;&nbsp;<%= pet.sex %></p>
      <p><%= link_to 'Update Pet', "/pets/#{pet.id}/edit" %>&nbsp;&nbsp;
      <%= link_to 'Delete Pet', "/pets/#{pet.id}", method: :delete %></p>
    </section>
  <% end %>
